<nav class="sidebar">
    
    <h2 class="logo">MealMajor</h2>

    <ul class="nav-links">
        <li class="<%= currentPage === 'home' ? 'active' : '' %>">
            <a href="/">Dashboard</a>
        </li>

        <li class="<%= currentPage === 'profile' ? 'active' : '' %>">
            <a href="/profile">Profile</a>
        </li>

        <li>
            <a href="/logout">Logout</a>
        </li>
    </ul>

</nav>