<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meal Planner</title>
    <link rel="stylesheet" href="/css/layout.css" />
</head>
<body>
    <div class="app-layout">
    <!-- Sidebar Navigation -->
    <%- include('partials/navbar.ejs') %>

    <!-- Main Content -->
    <main class="page-content">
        <h1>Meal Planner</h1>
    </main>
  </div>
</body>
</html>