<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Profile Management</title>
    <link rel="stylesheet" href="/css/layout.css" />
</head>
<body>

    <div class="app-layout">
    <!-- Sidebar Navigation -->
    <%- include('partials/navbar.ejs') %>

    <!-- Main Content -->
    <main class="page-content">
      <section>
        <div>
          <h1>Profile Management</h1>
          <p>
            Update your dietary preferences and allergies.
          </p>
        </div>
        <button>HI</button>
    <button> Add preferences</button>

   
    <div id="dietary-preferences">
      <label for="select-dietary-preferences">
       Select Dietary Prefences: 
      </label>
      <select id="select-dietary-preferences">
        <option value="keto">Keto</option>
        <option value="vegetarian">Vegetarian</option>
        <option value="protein+">Protein+</option>
        <option value="spicy">Spicy</option>
        <option value="liquid">Liquid</option>
        <option value="heart-health">Heart health</option>
        <option value="halal">Halal</option>
        <option value="lactose-free">Lactose-free</option>
      </select>  
      <label for="chosen-preference">Chosen Preference:</p>
        <p id ="chosen-preference">You chose: </p>
        <p id="show-preference"> preference</p>
    </div>

    <div id="Allergy-Section">
      <h2>Allergies</h2>
      <input type="text" id="allergy-input" name="allergy" placeholder="Enter your allergies here">
    </div>
        
      </section>
    </main>
  </div>

</body>
</html>