<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Profile Management</title>
    <link rel="stylesheet" href="/css/layout.css" />
</head>
<body>
    <div class="app-layout">
    <!-- Sidebar Navigation -->
    <%- include('partials/navbar.ejs') %>

    <!-- Main Content -->
    <main class="page-content">
      <section>
        <div>
          <h1>Profile Management</h1>
          <p>
            Update your dietary preferences and allergies.
          </p>
        </div>
      </section>
    </main>
  </div>
</body>
</html>