<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Profile Management</title>
</head>
<body>
    <button>HI</button>
    <button> Add preferences</button>
    <button>Remove preference</button>
    <div>
    <p>paragraph of text</p>
    
     <button>
        More buttons
     </button>   
    </div>
   
    <div id="Allergy-Section">
      <label for="Allergies">

      </label>
      <select id="Allergies">
        <option></option>
        <option></option>
        <option></option>
        <option></option>
        <option></option>
        <option></option>
      </select>  
    </div>
    
</body>
</html>